@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutDash";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">My Will</h4>
            </div>
            <div class="card-body">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                    <a asp-action="CreateWill" asp-controller="Home" class="btn btn-primary" > Create Will</a>
                </div>
                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Will Name</th>
                            <th>Testator's Full Name</th>
                            <th>Testator's Address</th>
                            <th>Age</th>
                            <th>Status</th>
                            <th class="disabled-sorting text-right">Actions</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                      
                     
                       
                        <tr>
                            <td>Demo User</td>
                            <td>John Doe</td>
                            <td>Lagos</td>
                            <td>64</td>
                            <td>Incomplete</td>
                            <td class="text-right">
                                <a  asp-action="CreateWill" class="btn btn-round btn-info btn-icon btn-sm like"><i class="fas fa-edit"></i></a>
                                <a asp-action="CreateWill" class="btn btn-round btn-warning btn-icon btn-sm edit"><i class="fa fa-eye"></i></a>
                                <a href="#" class="btn btn-round btn-danger btn-icon btn-sm remove"><i class="fas fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>