<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UUBO</title>


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <environment include="Development">
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" />
    </environment>
    <link href="~/css/now-ui-dashboard.css" rel="stylesheet" />
    <link href="~/css/datatables.css" rel="stylesheet" />
</head>


<body class=" sidebar-mini">



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>



    <div class="wrapper ">
        @await Html.PartialAsync("_CustDashLayoutAside")

        <div class="main-panel">


            @await Html.PartialAsync("_LayoutDashHeader")
            <div class="panel-header">
            </div>
            <div class="content">


                @RenderBody()

            </div>
            @await Html.PartialAsync("_LayoutDashFooter")


        </div>



    </div>







    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/js/plugins/moment.min.js"></script>
    <script src="~/js/plugins/bootstrap-switch.js"></script>
    <script src="~/js/plugins/sweetalert2.min.js"></script>
    <script src="~/js/plugins/jquery.validate.min.js"></script>
    <script src="~/js/plugins/jquery.bootstrap-wizard.js"></script>
    <script src="~/js/plugins/bootstrap-selectpicker.js"></script>
    <script src="~/js/plugins/bootstrap-datetimepicker.js"></script>
    <script src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/js/plugins/bootstrap-tagsinput.js"></script>
    <script src="~/js/plugins/jasny-bootstrap.min.js"></script>
    <script src="~/js/plugins/nouislider.min.js"></script>
    <script src="~/js/plugins/chartjs.min.js"></script>
    <script src="~/js/plugins/bootstrap-notify.js"></script>
    <script src="~/js/now-ui-dashboard.js"></script>







    <script src="~/js/DataTables/JSZip-2.5.0/jszip.js"></script>

    <script src="~/js/DataTables/pdfmake-0.1.36/pdfmake.js"></script>
    <script src="~/js/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/js/DataTables/Buttons-1.5.6/js/dataTables.buttons.js"></script>
    <script src="~/js/DataTables/Buttons-1.5.6/js/buttons.colVis.js"></script>
    <script src="~/js/DataTables/Buttons-1.5.6/js/buttons.html5.js"></script>
    <script src="~/js/DataTables/Buttons-1.5.6/js/buttons.print.js"></script>
    <script src="~/js/demo.js"></script>
    <script>



        $(document).ready(function () {
            // Initialise the wizard
            demo.initNowUiWizard();
            setTimeout(function () {
                $('.card.card-wizard').addClass('active');
            }, 600);
            $('#datatable').DataTable({
                "pagingType": "full_numbers",
                dom: 'Bfrtip',

                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                buttons: [
                    'copy',
                    'excel',
                    'csv',
                    'pdf',
                    'print'
                ],

                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }

            });

            var table = $('#datatable').DataTable();

            //// Edit record
            //table.on('click', '.edit', function () {
            //    $tr = $(this).closest('tr');

            //    var data = table.row($tr).data();
            //    alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            //});

            //// Delete a record
            //table.on('click', '.remove', function (e) {
            //    $tr = $(this).closest('tr');
            //    table.row($tr).remove().draw();
            //    e.preventDefault();
            //});

            ////Like record
            //table.on('click', '.like', function () {
            //    alert('You clicked on Like button');
            //});
        });
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
